/* Images */

.image1 {
  display: inline;
  float: left;
  height: 400px;
  width: 650px;
  border-radius: 20px;
  border: 7px solid mediumturquoise;
}

.image2 {
  display: inline;
  float: right;
  height: 400px;
  width: 650px;
  border-radius: 20px;
  border: 7px solid mediumturquoise;
}

/* Texts */

.center {
  text-align: center;
}

.summary_text {
  font-size: 17px;
  text-align: center;
  font: normal normal lighter 20px serif;
}

.text {
  text-align: right;
}

ol {
  list-style-type: none;
}

div [class="center"] {
  text-align: center;
}

/* Titles + Headers */

.title {
  font-style: normal;
  font-weight: bolder;
  text-decoration: underline;
  font-size: 40px;
}

.header {
  font-size: 30px;
  text-decoration: underline;
  text-align: center;
}

#header {
  font-size: 30px;
  text-decoration: underline;
}

/* Footers */

footer a:hover {
  background-color: #00E0FD;
}

footer a {
  color: darkorange;
  display: inline;
}

/* Navigation Bar */

#menu li {
  background-color: dodgerblue;
  padding: 30px;
  padding-left: 20px;
  margin-left: -10px;
  padding-right: 20px;
  margin-right: -10px;
  text-align: center;
  display: inline;
  text-align: center;
  font-size: 14px;
}

#menu a {
  padding-top: 60px;
  margin-top: 60px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  padding-left: 20px;
  margin-left: -10px;
  padding-right: 20px;
  margin-right: -10px;
}

#menu a:hover {
  background-color: lightcyan;
  color: black;
}

#menu a:visited {
  color: black;
}

#menu a:active {
  color: red;
}

li {
  font-size: 18px;
  text-align: center;
}

/* Background Color */

body {
  background-image: linear-gradient(dodgerblue 63px, powderblue 11px);
}
