/* Texts */

.center {
  text-align: center;
}

.answer {
  font: normal normal lighter 20px serif;
  display: inline;
}

/* Headers + Captions */

#title {
  font-weight: bolder;
  font-style: normal;
  text-decoration: underline;
  font-size: 40px;
}

.question {
  font-size: 24px;
  font-weight: bolder;
  text-decoration: underline;
}

.captions {
  font-style: italic;
  font-size: 14px;
}

/* Navigation Bar */

#menu li {
  background-color: dodgerblue;
  padding: 30px;
  padding-left: 20px;
  margin-left: -10px;
  padding-right: 20px;
  margin-right: -10px;
  text-align: center;
  display: inline;
  text-align: center;
  font-size: 14px;
}

#menu a {
  padding-top: 60px;
  margin-top: 60px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  padding-left: 20px;
  margin-left: -10px;
  padding-right: 20px;
  margin-right: -10px;
}

#menu a:hover {
  background-color: lightcyan;
  color: black;
}

#menu a:visited {
  color: black;
}

#menu a:active {
  color: red;
}

/* Images */

.thumbnail1 {
  display: inline;
  float: left;
  height: 362.5px;
  width: auto;
  border-radius: 20px;
  border: 7px solid darkorange;
}

.thumbnail2 {
  display: inline;
  float: right;
  height: 362.5px;
  width: auto;
  border-radius: 20px;
  border: 7px solid darkorange;
}

.creator1 {
  border-radius: 25px;
  border: 5px solid orange;
  float: right;
  display: inline;
  height: 200px;
  width: 200px;
}

.creator2 {
  border-radius: 25px;
  border: 5px solid orange;
  float: right;
  display: inline;
  height: 250px;
  width: 200px;
}
/* Footer */

footer a[href]:hover {
    background-color: lightgreen;
}

footer a {
  color: darkorange;
}

/* background Color */

body {
  background-image: linear-gradient(dodgerblue 63px, lightskyblue 11px);
}
