/* Texts */
.center {
  text-align: center;
}

.desc {
  font: normal normal lighter 18px serif;
}

/* Images Specified by Widths */
.px1280 {
  height: 160.3125px;
  width: 285px;
  display: inline;
}

.px1760 {
  width: 282.15px;
  height: 160.3125px;
  display: inline;
}

.px1080 {
  width: 280px;
  height: 180px;
  display: inline;
}

.px2560 {
  width: 290px;
  height: 180px;
  display: inline;
}

.title {
  font-style: normal;
  font-weight: bolder;
  text-decoration: underline;
  font-size: 40px;
}

/* Images */

.right {
  display: inline;
  float: right;
}

#right_text {
  margin-left: 750px;
  padding-left: 250px;
  display: inline;
}

.left {
  padding: -10px;
  display: inline;
}

.image {
  border-radius: 20px;
  border: 7.5px solid lightblue;
}

/* Navigation Bar */

#menu li {
  background-color: dodgerblue;
  border-bottom: blue solid 4px;
  border-left: blue solid 4px;
  border-right: blue solid 4px;
  padding: 30px;
  padding-left: 70px;
  margin-left: -50px;
  padding-right: 110px;
  text-align: center;
  display: inline;
  max-width: 200px;
  text-align: center;
  font-size: 14px;
}

#menu a {
  padding-top: 60px;
  margin-top: 60px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  padding-left: 70px;
  margin-left: -70px;
  padding-right: 110px;
  margin-right: -110px;
}

#menu a:hover {
  background-color: lightcyan;
  color: black;
}

#menu a:visited {
  color: black;
}

#menu a:active {
  color: red;
}

#index {
  padding-left: 122.5px;
  padding-right: 123.5px;
}

#origins {
  padding-left: 117.5px;
  padding-right: 117.5px;
}

#internet {
  padding-left: 68.5px;
  padding-right: 68.5px;
}

#versions {
  padding-left: 97px;
  padding-right: 97px;
}

/* Footers + Headers */

footer a:hover {
  background-color: #BBFB0F;
}

footer a {
  color: darkorange;
}

.version {
  font-size: 30px;
  text-decoration: underline;
}

/* background Colors */

body {
  background-color: lightgreen;
}
