/* Text */

.center {
  text-align: center;
}

.answer {
  font-size: 18px;
  font-weight: lighter;
}

.summary_text {
  display: inline;
  font: normal normal lighter 20px serif;
}

/* Headers + Captions */

.title {
  font-style: normal;
  font-weight: bolder;
  text-decoration: underline;
  font-size: 40px;
}

.question {
  font-size: 25px;
  text-decoration: underline;
  font-weight: bolder;
}

/*Footers */

footer a:hover {
    background-color: #00ffff;
}

footer p {
  color: black;
}

footer a {
  color: darkorange;
}

/* Navigation Bar */

#menu li {
  background-color: dodgerblue;
  border-bottom: blue solid 4px;
  border-left: blue solid 4px;
  border-right: blue solid 4px;
  padding: 30px;
  padding-left: 70px;
  margin-left: -50px;
  padding-right: 110px;
  text-align: center;
  display: inline;
  max-width: 200px;
  text-align: center;
  font-size: 14px;
}

#menu a {
  padding-top: 60px;
  margin-top: 60px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  padding-left: 70px;
  margin-left: -70px;
  padding-right: 110px;
  margin-right: -110px;
}

#menu a:hover {
  background-color: lightcyan;
  color: black;
}

#menu a:visited {
  color: black;
}

#menu a:active {
  color: red;
}

#index {
  padding-left: 122.5px;
  padding-right: 123.5px;
}

#origins {
  padding-left: 117.5px;
  padding-right: 117.5px;
}

#internet {
  padding-left: 68.5px;
  padding-right: 68.5px;
}

#versions {
  padding-left: 97px;
  padding-right: 97px;
}

/* Images */

.trends {
  width: 850.57px;
  height: 325px;
  border-radius: 20px;
  border: 3px solid red;
  display: inline;
}

.thumbnail {
  width: 555.555px;
  height: 312.5px;
  float: right;
  border-radius: 25px;
  border: 6px solid crimson;
  display: inline;
  float: right;
}

/* Tables */

#table {
  background-color: lightgreen;
  border: 5px solid blue;
  margin-top: 5px;
  width: 100%;
}

#tablec {
  width: 100;
}

#graphc {
  width: 100px;
}

#table th {
  border: 1px solid blue;
  color: #FF00A6;
}

#table td[align] {
  border: 1px solid blue;
  color: #FF00A6;
}

#table td {
  border: 1px solid blue;
  color: #FF00A6;
}

/* Etc. */

* {
  color: #FF5500;
}

/* Background Color */

body {
  background-color: aquamarine;
}
