/* Texts */

.center {
  text-align: center;
}

.answer {
  font: normal normal lighter 20px serif;
  display: inline;
}

/* Headers + Captions */

#title {
  font-weight: bolder;
  font-style: normal;
  text-decoration: underline;
  font-size: 40px;
}

.question {
  font-size: 24px;
  font-weight: bolder;
  text-decoration: underline;
}

.captions {
  font-style: italic;
  font-size: 14px;
}

/* Navigation Bar */

#menu li {
  background-color: dodgerblue;
  border-bottom: blue solid 4px;
  border-left: blue solid 4px;
  border-right: blue solid 4px;
  padding: 30px;
  padding-left: 70px;
  margin-left: -50px;
  padding-right: 110px;
  text-align: center;
  display: inline;
  max-width: 200px;
  text-align: center;
  font-size: 14px;
}

#menu a {
  padding-top: 60px;
  margin-top: 60px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  padding-left: 70px;
  margin-left: -70px;
  padding-right: 110px;
  margin-right: -110px;
}

#menu a:hover {
  background-color: lightcyan;
  color: black;
}

#menu a:visited {
  color: black;
}

#menu a:active {
  color: red;
}

#index {
  padding-left: auto;
  padding-right: auto;
}

#origins {
  padding-left: auto;
  padding-right: auto;
}

#internet {
  padding-left: auto;
  padding-right: auto;
}

#versions {
  padding-left: auto;
  padding-right: auto;
}

/* Images */

.thumbnail1 {
  display: inline;
  float: left;
  height: 362.5px;
  width: auto;
  border-radius: 20px;
  border: 7px solid darkorange;
}

.thumbnail2 {
  display: inline;
  float: right;
  height: 362.5px;
  width: auto;
  border-radius: 20px;
  border: 7px solid darkorange;
}

.creator1 {
  border-radius: 25px;
  border: 5px solid orange;
  float: right;
  display: inline;
  height: 200px;
  width: 200px;
}

.creator2 {
  border-radius: 25px;
  border: 5px solid orange;
  float: right;
  display: inline;
  height: 250px;
  width: 200px;
}
/* Footer */

footer a[href]:hover {
    background-color: lightgreen;
}

footer a {
  color: darkorange;
}

/* background Color */

body {
  background-color: lightskyblue;
}
