/* Text */

.center {
  text-align: center;
}

.answer {
  font-size: 18px;
  font-weight: lighter;
}

.summary_text {
  display: inline;
  font: normal normal lighter 20px serif;
}

/* Headers + Captions */

.title {
  font-style: normal;
  font-weight: bolder;
  text-decoration: underline;
  font-size: 40px;
}

.question {
  font-size: 25px;
  text-decoration: underline;
  font-weight: bolder;
}

/*Footers */

footer a:hover {
    background-color: #00ffff;
}

footer p {
  color: black;
}

footer a {
  color: darkorange;
}

/* Navigation Bar */

#menu li {
  background-color: dodgerblue;
  padding: 30px;
  padding-left: 20px;
  margin-left: -10px;
  padding-right: 20px;
  margin-right: -10px;
  text-align: center;
  display: inline;
  text-align: center;
  font-size: 14px;
}

#menu a {
  padding-top: 60px;
  margin-top: 60px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  padding-left: 20px;
  margin-left: -10px;
  padding-right: 20px;
  margin-right: -10px;
}

#menu a:hover {
  background-color: lightcyan;
  color: black;
}

#menu a:visited {
  color: black;
}

#menu a:active {
  color: red;
}

/* Images */

.trends {
  width: 850.57px;
  height: 325px;
  border-radius: 20px;
  border: 3px solid red;
  display: inline;
}

.thumbnail {
  width: 555.555px;
  height: 312.5px;
  float: right;
  border-radius: 25px;
  border: 6px solid crimson;
  display: inline;
  float: right;
}

/* Tables */

#table {
  background-color: lightgreen;
  border: 5px solid blue;
  margin-top: 5px;
  width: 100%;
}

#tablecolumn {
  width: 100;
}

#graphcolumn {
  width: 100px;
}

#table th {
  border: 1px solid blue;
  color: #FF00A6;
}

#table td[align] {
  border: 1px solid blue;
  color: #FF00A6;
}

#table td {
  border: 1px solid blue;
  color: #FF00A6;
}

/* Etc. */

* {
  color: #FF5500;
}

/* Background Color */

body {
  background-image: linear-gradient(dodgerblue 63px, aquamarine 11px);
}
